@charset "utf-8";
/* CSS Document */
.{margin:0;}
a{TEXT-DECORATION:none;color:#000;
}
#head{
	width:100%;
	height:50px;
	background-color:#FFF;
	padding:15px 60px 0px 0px ;
	}
#list{
	width:100%;
	height:55px;
	background-color:#000;
	}
ul{color:#FFF;
	list-style-type:none;
	margin:0px;
	padding:0px 15% 0px 15%;}
li{
	height:100%;
	padding-top:18px;
	padding-bottom:18px;
	padding-left:4.5%;
	width:12%;
	display:block;
	float:left;
	}
li:hover{
	background-color:#009FCA;
	}
#main{background-image:url(../image/3_02.jpg);
width:100%;
background-color:#FFF;
background-size:100% ;
padding:288px 0px 50px 0px;;
background-repeat:no-repeat;}
.bule{
	background-color:#009FCA;
	border-radius:5px;
	box-shadow:10px 10px 10px rgba(0,0,0,.4);
	width:700px;
	height:288px;
	margin:30px auto;
	padding:10px;
	}
a:hover{
	color:#009FCA;
	}
.grey{
	background-color:#696969;
	width:150px;
	border-radius:4px;
	height:37px;
	padding:5px;
	color:#FFF;
	text-align:center;
	line-height:37px;}
#write{
	height:210px;
	border-radius:5px;
	width:100%;
	background:#FFF;
	margin-bottom:8px;
	margin-top:4px;
}
.auto{
	float:none;
	height:182px;
	border-radius:5px;
	width:100%;
	background:#FFF;
	margin-bottom:8px;
	margin-top:4px;
}
#foot{width:100%;
	height:300px;
	background-color:#666;};
